.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 880px;
  height: 74px;
  border-bottom: 1px solid #545454;
  padding-top: 45px;
}

.logo {
  max-width: 173px;
  height: 33px;
}

@media screen and (max-width: 779px) {
  .header {
    padding-top: 28px;
    width: 320px;
    height: 56px;
  }

  .logo {
    max-width: 126px;
    height: 24px;
  }
}
