.popup {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: auto;
  left: auto;
  visibility: hidden;
}

.popup__visible {
  visibility: visible;
}

.popup__overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.popup__container {
  padding: 36px;
  width: 358px;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 195px;
  z-index: 5;
}

.popup__title {
  margin: 0;
  color: black;
  font-size: 24px;
  line-height: 120%;
  font-weight: 900;
}

.popup__form {
  margin-top: 24px;
}

.popup__input {
  width: 100%;
  height: 27px;
  padding: 0;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid;
}

.popup__input-error {
  height: 27px;
  border-bottom: 1px solid red;
}

.popup__input::placeholder {
  opacity: 25%;
}

.popup__input-error_active {
  color: red;
  font-size: 12px;
  margin-top: 6px;
  opacity: 1;
  position: absolute;
  width: 350px;
  line-height: 12px;
}

.popup__save {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 48px;
  border: 1px solid;
  color: white;
  background-color: black;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 80%;
}

.popup__save-disabled {
  color: #b8b8b8;
  background-color: white;
  pointer-events: none;
}

.popup__closebutton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -35px;
  right: -35px;
  border: none;
  background-color: transparent;
  background-image: url("../images/Close_Icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.popup__container-picture {
  position: fixed;
  top: 60px;
  z-index: 5;
}

.popup__picture-image {
  max-height: 80vh;
  max-width: 80vw;
}

.popup__picture-title {
  margin: 0;
  color: white;
  font-size: 12px;
  line-height: 120%;
}

@media screen and (max-width: 779px) {
  .popup__container {
    padding: 22px;
    width: 238px;
    top: 125px;
  }

  .popup__form {
    margin-top: 46px;
  }

  .popup__title {
    font-size: 18px;
  }

  .popup__input {
    font-size: 14px;
  }

  .popup__save {
    font-size: 14px;
  }

  .popup__input-error_active {
    width: 238px;
    font-size: 10px;
    line-height: 10px;
  }

  .popup__closebutton {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -30px;
    right: -28px;
  }
  .popup__container-picture {
    top: 95px;
  }
}
