.popup {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: auto;
  left: auto;
  visibility: visible;
}

.popup__overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.popup__container {
  padding: 36px;
  width: 358px;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 195px;
  z-index: 5;
}

.popup__title {
  margin: 0;
  color: black;
  font-size: 24px;
  line-height: 120%;
  font-weight: 900;
}

.popup__name {
  width: 100%;
  height: 27px;
  margin-top: 54px;
  padding: 0;
  border: none;
  border-bottom: 1px solid;
  opacity: 20%;
}

.popup__description {
  width: 100%;
  height: 27px;
  margin-top: 30px;
  padding: 0;
  border: none;
  border-bottom: 1px solid;
  opacity: 20%;
}

.popup__save {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 48px;
  border: 1px solid;
  color: white;
  background-color: black;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 80%;
}

.popup__close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}
