.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  padding-top: 40px;
}

.profile__content {
  display: flex;
  flex-direction: row;
  width: 880px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__user {
  display: flex;
  flex-wrap: wrap;
  max-width: 414px;
  margin-left: 30px;
}

.profile__name {
  margin: 0;
  margin-top: 16px;
  width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 133%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit {
  width: 24px;
  height: 24px;
  margin-top: 34px;
  border: none;
  background-color: transparent;
  background-image: url("../images/Edit_Button.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.profile__about {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add {
  width: 150px;
  height: 50px;
  padding: 0;
  margin-top: 35px;
  margin-left: 168px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 42px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 779px) {
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 320px;
  }

  .profile__content {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
  }

  .profile__user {
    max-width: 280px;
    justify-content: center;
    margin: 0;
  }

  .profile__name {
    width: 201px;
    height: 38px;
    font-size: 22px;
  }

  .profile__edit {
    width: 18px;
    height: 18px;
    margin-top: 20px;
  }

  .profile__about {
    margin: 0;
    font-size: 14px;
  }

  .profile__add {
    margin: 0;
    width: 282px;
    padding: 0;
    margin-top: 36px;
    font-size: 28px;
  }
}
